<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946309756806-cffkvc8i1i35ceckvphqlj65j6evn50b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946309756806-cffkvc8i1i35ceckvphqlj65j6evn50b</string>
	<key>API_KEY</key>
	<string>AIzaSyAt1JKrTWk6I_h3mI8W98GOURdehhv3RKU</string>
	<key>GCM_SENDER_ID</key>
	<string>946309756806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.moyano.manuel.AlkemyChallenge</string>
	<key>PROJECT_ID</key>
	<string>alkemychallenge-86b63</string>
	<key>STORAGE_BUCKET</key>
	<string>alkemychallenge-86b63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946309756806:ios:c20a4636e25dbccf99de07</string>
</dict>
</plist>